h1 {
    color: #C25100;
}

.padre {
    /* background: yellow; */
    height: 100%;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hijo {
    /* background: red; */
    width: 750px;
  }

  .etieuta1 {
    /* background: red; */
    color: #C20022;
  }